.new-game-button {
    margin: 10px auto;
    font-size: 16px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    background-color: rgb(155, 97, 22);
    color: rgb(183, 236, 36);
}


.action-button {
    font-size: 16px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    margin: 20px;
}

.submit-button {
    background-color: rgb(16, 145, 16);
}

.delete-button {
    background-color: red;
}

.digit-button {
    height: 70px;
    width: 70px;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 182, 230);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    /* Optional max-width for better centering */
    padding: 10px;


}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.digits-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;

    }
}


.input-row {
    display: flex;
    align-items: center;
    /* Vertically center the items */
}

.question {
    height: 50px;
    margin: 10px 20px;
    font-size: 40px;
}

.answer {
    height: 50px;
    margin: 10px 20px;
    box-sizing: border-box;
    font-size: 32px;
    width: 100px;

}

.game-status {
    margin: 10px 20px;
    /* Adjust the margin to increase space between the h3 elements */
    white-space: nowrap;
    /* Prevent line breaks */
}